.body {
  background-color: #80ffcc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 5px;
  text-align: left;
}

.header {
  background-color:#00804d;
  color: #001a0f;
  text-align: left;
}
.homepage__main__navigation__list__item__element {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--font-color);
    font-size: 1.35rem;
    font-weight: bold;
    text-decoration: none;
}

.homepage__main__navigation__list__item__element:hover {
    text-decoration: underline;
}

.heading {
  font-size: 1.875rem;
  margin-bottom: 20px;

}

.social_links {
  background-color: #f2f2f2;
  font-size: 1.2rem;
  text-align: right;
  word-spacing: 0.4rem;
}

.social_item {
  color: #000000;
  font-size: 1rem;
  letter-spacing: 0.2rem
}

.navigation {
  background-color: #33ffad;
  padding: 10px;
}

.navigation_item {
  display: inline;
  letter-spacing: 0.1rem;
  color: #000000;
}

.news {
  background-color: #00b3b3;
  font-family: Gill Sans, sans-serif;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.sports {
 background-color: #80ffcc;
 font-size: 1.4rem;
 font-style: italic;
  font-weight: 500;
}

.code {
  font-family: Consolas, monospace;
  background-color: #42D1DB;
  padding: 5px;
  line-height: 1.3;
  font-weight: bold;
}

.schedule {
  text-decoration: underline;
  text-align:center;
}

.ASCII {
  background-color: #6CF5B7;
  text-align:center;
}

.blockquote {
  text-decoration: underline;
  background-color: #6CF5B7;
  padding: 10px;
  margin: 20px 0;
  text-indent: 35rem;
}

.footer {
  text-align: left;
  background-color: #333;
  color: #fff;
}

img {
  border: 2px solid #ccc;
  margin: 10px;
  box-shadow: 5px 5px 5px #888;
}
